#img1 {
  width: 100%;
  left: 0;
  top: 0;
}
#logo {
  top: 220px;
  left: 563px;
  right: auto;
  position: absolute;
}
#welcome {
  top: 330px;
  left: 520px;
  position: absolute;
  color: white;
  text-align: center;

}
#studio {
  top: 420px;
  left: 430px;
  text-align: center;
  position: absolute;
  color: white;
}
h6 {
  top: 470px;
  left: 310px;
  position: absolute;
  color: white;
  text-align: center;
}
#mouse_click {
  top: 650px;
  left: 600px;
  position: absolute;
}
#about_us {
  text-align: center;
  padding-top: 50px;
}
#p1 {
  text-align: center;
}
#service_img {
  padding-top: 50px;
  width: 100%;
}
#services {
  text-align: center;
}