#img1 {
  width: 100%;
  position: absolute;
}
#img2 {
  top: 150px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
#welcome {
  top: 235px;
  position: relative;
  color: white;
  text-align: center;

}
#studio {
  top: 270px;
  text-align: center;
  position: relative;
  color: white;
}
h6 {
  top: 270px;
  position: relative;
  color: white;
  text-align: center;
}
#mouse_click {
  top: 410px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
